<ul class="nav main-navbar">
  <li class="nav-brand">
    <a class="pull-left image" href="#">
      <img class="img-circle d-inline-block align-top" src="../../../../assets/imgs/perfil.jpg"
        alt="user profile image">
    </a>
  </li>
  <li class="nav-item info">
   <a>Sarah Bortoloti</a>
  </li>
</ul>
<section class="side-bar">
  <aside>
    <ul class="nav flex-column nav-header">
      <li class="nav-item">
        <a class="nav-link menu-dark">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">
          <i class="fas fa-users"></i>
          Users
        </a>
      </li>
    </ul>
  </aside>
</section>